<h1 class="p-3 bg-info">Dynamic skills builder Reactive Form 1</h1>
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="skillsForm" (ngSubmit)="addSkills()">
        <div formArrayName="skills">
          <div class="row align-items-center" *ngFor="let skill of skillsArr.controls; let i = index;"
            [formGroupName]="i">
            <div class="col-md-3">
              <div class="form-group">
                <label for="skillName">Skill</label>
                <input formControlName="skillName" id="skillName" type="text" class="form-control">
                <strong *ngIf="skill.get('skillName')?.touched && skill.get('skillName')?.hasError('required')"
                  class="text-danger">
                  Skill Name is a required
                </strong>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="proficiency">Proficiency</label>
                <select formControlName="proficiency" id="proficiency" class="form-control">
                  <option value="Beginner">Beginner</option>
                  <option value="Intermediate">Intermediate</option>
                  <option value="Advanced">Advanced</option>
                  <option value="Expert">Expert</option>
                </select>
                <strong *ngIf="skill.get('proficiency')?.touched && skill.get('proficiency')?.hasError('required')"
                  class="text-danger">Proficiency is a required field</strong>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="yearsExp">YearsExp</label>
                <input formControlName="yearsExp" id="yearsExp" type="number" class="form-control">
                <strong *ngIf="skill.get('yearsExp')?.touched && skill.get('yearsExp')?.hasError('required')"
                  class="text-danger">
                  YearsExp is a required field
                </strong>
                <strong *ngIf="skill.get('yearsExp')?.dirty && skill.get('yearsExp')?.hasError('min')"
                  class="text-danger">YearsExp should be
                  greater than or equal to 0
                </strong>
                <strong *ngIf="skill.get('yearsExp')?.dirty && skill.get('yearsExp')?.hasError('max')"
                  class="text-danger">YearsExp should be
                  less than or equal to 50
                </strong>
              </div>
            </div>

            <div class="col-md-3">
              <button *ngIf="i > 0" (click)="removeSkill(i)" type="button"
                class="btn btn-sm btn-outline-danger">Remove</button>
            </div>

          </div>
          <strong *ngIf="f['skills'].touched && f['skills'].hasError('minLength')" class="text-danger">
            You can add minimum of 2 skills..
          </strong>
        </div>
        <button type="submit" class="mt-2 btn btn-sm btn-info">Add skills</button>
      </form>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-body">
          {{ skillsForm.value | json }}
        </div>
      </div>
    </div>
  </div>
</div>